# Documentação

!pip install yfinance

### Artigo original:
https://towardsdatascience.com/how-to-create-a-fully-automated-ai-based-trading-system-with-python-708503c1a907

### Modelo ARIMA:
https://pt.wikipedia.org/wiki/ARIMA

### Uso do Auto-ARIMA:
https://towardsdatascience.com/time-series-forecasting-using-auto-arima-in-python-bb83e49210cd

In [136]:
import yfinance as yf
import pandas as pd
import numpy as np

from statsmodels.tsa.arima_model import ARIMA

import matplotlib.pyplot as plt 
plt.style.use('fivethirtyeight')

In [150]:
def get_finance_data(ticker, period='1y', interval='1d'):
    '''
    Função para capturar os dados dos ativos, acrescentar ".SA" no final do ticker para ativos 
    negociados na Bovespa, exemplo "PETR4.SA".
    Exemplo url base da API: https://query1.finance.yahoo.com/v7/finance/options/PETR4.SA?date=20201222
    Exemplo url scrape da API: https://finance.yahoo.com/quote/PETR4.SA
    
    Parameters
    ----------
    period: default '1y', periodos validos: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
    inteval: default '1d', intervalos validos: 1m, 2m, 5m, 15m, 30m, 60m, 90m, 1d, 5d, 1wk, 1mo, 3mo.
    '''
    
    google = yf.Ticker(ticker)
    
    df = google.history(period=period, interval=interval)
#     df['date'] = pd.to_datetime(df.index).time
#     df.set_index('date', inplace=True)
    return df


def get_forecast(df, col_ref='Low'):
    # Assuming that we've properly trained the model before and that the 
    # hyperparameters are correctly tweaked, we use the full dataset to fit
    y = df[col_ref].values
    model = ARIMA(y, order=(5,0,1)).fit()
    forecast = model.forecast(steps=1)[0]

    # Returning the last real data and the forecast for the next minute
    return (y[len(y)-1], forecast)

In [152]:
df = get_finance_data('HFOF11.SA')

get_forecast(df, col_ref='Close')

(103.27999877929688, array([103.47268701]))

In [145]:
df['2019']

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-12-23,123.470001,129.330002,122.000000,123.500000,44801,0,0
2019-12-26,123.980003,125.889999,123.610001,124.519997,38997,0,0
2019-12-27,124.599998,127.989998,124.180000,124.980003,24437,0,0
2019-12-30,124.980003,126.989998,123.050003,126.989998,83204,0,0

In [87]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-12-23,123.470001,123.470001,122.000000,123.000000,2864,0,0
2019-12-23,123.000000,129.330002,122.800003,129.330002,12877,0,0
2019-12-23,126.720001,128.250000,123.029999,123.220001,8879,0,0
2019-12-23,123.220001,123.790001,122.699997,122.699997,4018,0,0
2019-12-23,122.690002,122.900002,122.010002,122.500000,3929,0,0
...,...,...,...,...,...,...,...
2020-12-22,102.919998,102.930000,102.750000,102.900002,3126,0,0
2020-12-22,102.900002,102.930000,102.849998,102.930000,4143,0,0
2020-12-22,102.930000,102.930000,102.750000,102.919998,2424,0,0
2020-12-22,102.919998,102.980003,102.860001,102.959999,2496,0,0
2020-12-22,102.980003,103.000000,102.860001,102.949997,39270,0,0

In [127]:
ativo = yf.Ticker('HFOF11.SA')

In [130]:
ativo.get_dividends()

Series([], Name: Dividends, dtype: int64)

In [ ]:
df = google.history(period=period, interval=interval)